.contact-header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  margin: 2%;
}

.form {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  margin: 10%;
  padding: 10%;
  color: white;
  background-image: url('https://wallpaperaccess.com/full/3310310.jpg');
  box-shadow: 0px 0px 40px 10px #366;
}

.btn {
  color: black;
  font-weight: bold;
  background-color: rgb(253, 220, 28);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all300ms ease;
}

.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}