.contact-header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  margin: 2%;
}

.email {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  color: black;
  margin: 2%;
}

.form {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  margin: 10%;
  padding: 10%;
  color: white;
  background-image: url('https://wallpaperaccess.com/full/3310310.jpg');
  background-size: cover;
  box-shadow: 0px 0px 40px 10px #366;
}